.flex-grid {
    display: flex;
    justify-content: space-between;
}
.col {
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
}

.col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.glossary {
}
