.banner {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.box {
    flex: 40%;
}

.rating {
    flex: 60%;
}

.banner-section {
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    padding-bottom: 20px;
}

.box-img,
.stars-img {
    max-width: 100%;
}
p,
h1 {
    color: white;
}

.tagline {
    color: white;
    font-size: 60px;
    z-index: 2;
    text-shadow: -2px 2px 2px #000, 2px 2px 2px #000, 2px -2px 0 #000,
        -2px -2px 0 #000;
    margin-left: 30px;

    width: 515px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.walkthrough {
    margin-left: 30px;
    text-align: center;
    font-size: 30px;
}

.reviews-text {
    font-size: 20px;
    margin-top: 20px;
}

.game-btn {
    display: block;
    margin: 0 auto;
}
